# Игнорировать все папки .idea
**/.idea/

# Игнорировать файлы IDE
*.iml

# Игнорировать файлы сборки и временные файлы
cmake-build-debug/
*~
*.swp
*.swo
*.tmp

# Игнорировать файлы компиляции
*.o
*.obj
*.a
*.so
*.dll
*.exe

# Игнорировать файлы отладки
*.dSYM/

# Игнорировать файлы логов
*.log

# Игнорировать файлы баз данных
*.sqlite
*.sqlite3

# Игнорировать файлы конфигурации пользователя
*.user
*.prefs

# Игнорировать файлы скрытых системных файлов
.DS_Store

# Игнорировать файлы библиотек
lib/

# Игнорировать файлы тестов, если они не должны быть в репозитории
tests/

# Игнорировать файлы, специфичные для Windows
Thumbs.db
ehthumbs.db
Desktop.ini